.prev{
    position: absolute;
    opacity: 0;
    
    
}
.next{
    
    position: absolute;
    opacity: 0;
    
    
    
}
.curr{
    position: absolute;
    opacity: 0;
    
    
}
.move{
    opacity: 1;
    position: static;
    transition: opacity 3s;
    
}
